<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Rancho&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./style.css" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="./img/favicon.ico"
        />
        <title>Error 404</title>
    </head>
    <body>
        <header>
            <div class="logo-container">
                <a href="/"
                    ><img class="logo-img" src="./img/project-logo.png" alt=""
                /></a>
                <h4 class="logo-text">Articles</h4>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/Articles" class="nav-link">Articles</a></li>
                    <li><a href="/Create" class="nav-link">Create</a></li>
                    <li><a href="/#About-Us" class="nav-link">About Us</a></li>
                </ul>
            </nav>
        </header>
        <section class="error-container">
            <h1>Oops! Page not found</h1>
            <img src="./img/sad-emoji.png" alt="sad" />
        </section>
    </body>
</html>
